<nav>
  <div class="nav-wrapper container">
    <a routerLink='' class="brand-logo">One Market</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="auth" *ngIf='!isAuth'>Login</a></li>
      <li><a routerLink="auth/register" *ngIf='!isAuth'>Register</a></li>
      <li><a routerLink='/admin' *ngIf='isAuth'>Home</a></li>
      <li><a routerLink='/admin/gallery' *ngIf='isAuth'>Gallery</a></li>
      <li><a routerLink='/admin/post/create' *ngIf='isAuth'>Post Create</a></li>
      <li><a routerLink='/admin/post/all' *ngIf='isAuth'>Post All</a></li>
      <li><a class='btn' (click)='logout()' *ngIf='isAuth'>Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav center-align" id="mobile-demo">
  <li>
    <ul>
      <li><a routerLink="auth" *ngIf='!isAuth'>Login</a></li>
      <li><a routerLink="auth/register" *ngIf='!isAuth'>Register</a></li>
      <li><a routerLink='/admin' *ngIf='isAuth'>Home</a></li>
      <li><a routerLink='/admin/gallery' *ngIf='isAuth'>Gallery</a></li>
      <li><a routerLink='/admin/post/create' *ngIf='isAuth'>Post Create</a></li>
      <li><a routerLink='/admin/post/all' *ngIf='isAuth'>Post All</a></li>
      <li><a class='btn' (click)='logout()' *ngIf='isAuth'>Logout</a></li>
    </ul>
  <li>
</ul>
