<nav>
  <div class="nav-wrapper container">
    <a routerLink='' class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <a class="btn-small dropdown-trigger transparent" href="#!" data-target="dropdown2">
        Member<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropdown2" class="dropdown-content">
          <li><a href="#!">Login</a></li>
          <li><a href="#!">Register</a></li>
          <li><a href="#!">Logout</a></li>
        </ul>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo">
  <li>
    <a class="btn-small dropdown-trigger transparent black-text" href="#!" data-target="dropdown1">
      Member<i class="material-icons right">arrow_drop_down</i></a>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Login</a></li>
        <li><a href="#!">Register</a></li>
        <li><a href="#!">Logout</a></li>
      </ul>
  <li>
</ul>
